body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

header{
    color: white;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    text-align:center;
    font-size:larger;
}

p{
    font-size: larger;
    font-style: oblique;
}

.title{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    text-align: center;
}

.block{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
